# GEMINI_API_KEY: Clé API requise pour utiliser l'intelligence artificielle Gemini.
# Vous pouvez en obtenir une gratuitement sur : https://aistudio.google.com/
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: URL de l'application (utile si vous la déployez)
APP_URL="http://localhost:3000"
